:root {
  --color1: #2B2B2B;
  --color2: #32373B;
  --color3: #72B7B3;
  --color4: #9ADAD9;

  --row-gap: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-user-select:none;
  cursor: default;
}

body {
  background-color: var(--color1);
  color: var(--color4);
  overflow: hidden;
}

input[type=range] {
  -webkit-appearance: none;
  height: 2px;
  line-height: 12px;
  background: var(--color4);
  outline: none;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--color3);
  cursor: pointer;
  transition: .25s ease-in-out;
}
input[type=range]::-webkit-slider-thumb:hover {
  background-color: var(--color4);
}

i {
  cursor: pointer;
}

.row {
  margin-bottom: .25rem;
  padding: .5rem 1rem;
  text-align: center;
}

#app-bar {
  position: relative;
  -webkit-app-region: drag;
  height: 36px;
  background-color: var(--color2);
}
#app-bar img {
  height: 16px;
  margin-left: 1rem;
  margin-top: 10px;
}

#app-name {
  position: absolute;
  top: 6px;
  width: 200px;
  left: 40px;
}

.win-btn {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color3);
  color: var(--color1);
  text-align: center;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

#close {
  right: 1rem; 
}
#close:hover {
  background-color: salmon;
  color: white;
}

#minimize {  
  right: 40px;  
}
#minimize:hover {
  background-color: var(--color1);
  color: var(--color4);
}

.win-btn i {
  display: block;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 18px;
  /* vertical-align: baseline; */
}

#file-div {
  padding: 6px 1rem;
  margin: 0.5rem 1rem 0 1rem;
  background-color: var(--color3);
  color: var(--color1);
}

#file-div span {
  display: block;
  position: relative;
  max-width: 562px;
  /* top: calc((80px - 23px) / 2); */
  left: 0;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

#progress-div {
  position: relative;
  /* padding: 0 1rem; */
  height: 12px;
  margin-top: var(--row-gap);
}
#progress {
  position: absolute;
  /* width: 100%; */
  width: 568px;
  left: 1rem;
  top: 6px;
}
#controls {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 4px;
}
.control {
  cursor: pointer;
  /* width: 24px; */
  height: 36px;
  /* padding: 1rem 0; */
  color: var(--color4);
  background-color: var(--color2);
  border: 0;
  outline: none;
  transition: .25s ease-in-out;
}
.control:hover {
  background-color: var(--color3);
  color: var(--color2);
}

#info {
  display: flex;
  justify-content: space-between;
}

#info div {
  width: 31%;
  text-align: left;
}

#volume-div {
  text-align: left;
}
#volume {
  position: relative;
  top: -3px;
}