:root {
  --color1: #2B2B2B;
  --color2: #32373B;
  --color3: #72B7B3;
  --color4: #9ADAD9;

  --row-gap: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-user-select:none;
  cursor: default;
}

body {
  background-color: var(--color1);
  color: var(--color4);
  overflow: hidden;
}

input[type=range] {
  -webkit-appearance: none;
  height: 2px;
  width: 164px;
  line-height: 16px;
  background: var(--color4);
  outline: none;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color3);
  cursor: pointer;
  transition: .25s ease-in-out;
}
input[type=range]::-webkit-slider-thumb:hover {
  background-color: var(--color4);
}

i {
  cursor: pointer;
}

.row {
  margin-bottom: var(--row-gap);
}

#app-bar {
  position: relative;
  -webkit-app-region: drag;
  height: 30px;
  background-color: var(--color2);
}
#app-bar img {
  height: 16px;
  margin-left: 1rem;
  margin-top: 7px;
}

#app-name {
  position: absolute;
  top: 3px;
  width: 200px;
  left: 40px;
  transition: all .25s ease-in-out;
}

.win-btn {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 0;
  width: 40px;
  height: 26px;
  background-color: var(--color3);
  color: var(--color1);
  text-align: center;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

#close {
  right: 16px; 
}

#minimize {  
  right: 58px;  
}

.win-btn i {
  display: block;
  width: 40px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
}

#app-main {
  padding: 1rem;
}

#file-div {
  padding: 6px 1rem;
  background-color: var(--color3);
  color: var(--color1);
}

#file-div span {
  display: block;
  position: relative;
  max-width: 562px;
  left: 0;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

#progress-and-position {
  display: grid;
  grid-template-columns: 418px 142px;
  grid-column-gap: 8px;
}

#progress-div {
  position: relative;
  height: 20px;
}
#progress {
  position: absolute;
  width: 418px;
  top: 11px;
}

#info {
  text-align: right;
}

#controls {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 4px;
}
.control {
  cursor: pointer;
  height: 36px;
  color: var(--color4);
  background-color: var(--color2);
  border: 0;
  outline: none;
  transition: .25s ease-in-out;
}
.control:hover {
  background-color: var(--color3);
  color: var(--color2);
}

#repeat.on {
  color: yellowgreen;
  /* color: #e6ac00; */
  /* text-shadow: 0 0 2px black, 0 0 8px #fdfd96; */
  text-shadow: 0 0 1px black, 0 0 8px yellowgreen;
}

#sliders{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;
}

#sliders .label {
  display: inline-block;
  width: 60px;
}

#volume-div {
  text-align: left;
}
#volume, #speed {
  position: relative;
  top: -3px;
}

#song-volume, #song-rate {
  display: inline-block;
  width: 40px;
  text-align: right;
}